.display1 {
    font-size: 28px;
    font-weight: 100;
    line-height: 1.2;
    color: #757575;
    text-transform: inherit;
    letter-spacing: inherit;
  }
  .logo-image{
      text-align: center;
    }
  .signin-card .logo-image{
      text-align: center;
    }
    /*.signin-card {
      -webkit-animation: cardEnter 0.75s ease-in-out 0.5s;
      animation: cardEnter 0.75s ease-in-out 0.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      opacity: 0;
    }*/
    .signin-card img{
      height: 200px !important;
    }
    .signin-card .btn-link{
      text-decoration: none;
    }
    /* -- login paper styles ------------------------------ */
    .signin-card {
      max-width: 450px;
      border-radius: 2px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fdfdfd;
      box-shadow: 0 10px 20px rgba(0, 0, 0, .19),
      0 6px 6px rgba(0, 0, 0, .23);
    }
